html, body {
    height: auto;
}

.no-pad-right {
    padding-right: 0;
}
.no-pad-left{
    padding-left: 0;
}

.pad-left-6px {
     padding-left: 6px;
}

.button {
    text-transform: uppercase;
}

.spinner {
    padding: 0;
    margin: 30px 0 20px 30px;
    width:16px;
    /*width:128px;*/
    height:11px;
    background: url('../images/ajax-loader.gif') 0 0 no-repeat;
    border: 0px solid #2199e8;
}

.mainWrap.callout {
    padding-bottom: 10px;
    background: url('../images/shutterstock_215289142.jpg') top center no-repeat;
    border: 5px solid #2199e8;
}

.mainWrap .alert-box-ul {
    margin-top: 15px;
    margin-bottom: 7px;
}

.mainWrap p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.buttonWrap {
    padding-left:0;
    padding-right:0;
}
.buttonWrap div {
    display:inline-block;
    position:relative;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}

.row.topMargin10 {
   margin-top: 1rem; 
}

ul .rates-list  {
    list-style-type: none;
    color: navy;
}

ul .alert-list  {
    list-style-type: circle;
    color: red;
}

ul .notice-list  {
    list-style-type: circle;
    color: green;
}

ul .rates-list h3 {
    color: #2199e8;
}

.button.orangeBtn {
    margin:0;
    padding-top:10px;
    padding-bottom:10px;
    width: 100%;
    font-size: larger;
    /*color: #2199e8;*/
    color: white;
    background: orange;
}

.date-rates-input.column:last-child:not(:first-child), .date-rates-input.columns:last-child:not(:first-child) {
    float: left;
}

.date-rates-wrap.row .row.collapse {
    margin-left: 0;
    /* margin-right: 0; */
}

.ratesDateInput {
    display:inline-block;
    margin:0;
    float: left;
    width:100%;
}

.button.dateBtn {
    display:table;
    /*margin:0;*/
    padding:0;
    width: auto;
    font-size: larger;
    color: #0a0a0a;
    background: #c0c0c0;
    /*color: white;
    background: orange;*/
}

.button.dateBtn span.prefix {
    display:inline-block;
    padding:7px 10px 7px 10px;
    font-size: larger;
    /*color: #2199e8;
    color: #0a0a0a;
    background: none;
    color: white;
    background: orange;*/
}

.formElementsLevel {
    margin-top: 24px;
}



